body {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

svg path {
  will-change: auto;
  stroke-width: 20px;
  stroke-miterlimit: round;
  transition: stroke-dashoffset 850ms ease-in-out;
}
