*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(232, 250, 255);
}

#navegacao{
    background-color: #00D1FF;
    width: auto;
    height: 70px;
    margin: 0;
    font-family: Segoe UI;
    font-weight: 500;
    font-style: italic;
    color: #fff;
    border-bottom: 1px solid rgba(128, 128, 128, 0.2);
}

#perfil{
    margin: auto;
    font-family: Segoe UI;
    font-weight: 600;
    font-style: italic;
}

#categoria{
    background-color: #00D1FF;
    width: auto;
    height: 60px;
    padding: 0 90px;
    font-family: Segoe UI;
    font-weight: 500;
    font-style: italic;
    color: #fff;
}

#login{
    background-color: #fff;
    border: 1px solid rgba(128, 128, 128, 0.2);
    border-radius: 10px;
    display: block;
    width: 400px;
    margin: 50px auto 50px auto;
    font-family: Segoe UI;
    font-weight: 500;
    font-style: italic;
    box-shadow: 3px 3px 3px rgba(128, 128, 128, 0.2);
}

#register{
    background-color: #fff;
    display: block;
    width: 600px;
    margin: 50px auto 50px auto;
    border: 1px solid rgba(128, 128, 128, 0.02);
    border-radius: 20px;
    box-shadow: 3px 3px 3px rgba(128, 128, 128, 0.2);
}

#register_form{
    margin: 0px 35px;
    font-family: Segoe UI;
    font-weight: 400;
    font-style: italic;
    font-size: 15px;
    color: #000000ab;
}

#perfil{
    display: flex;
    height: auto;
}

#sidebar_perfil{
    position: relative;
    width: 16%;
    height: auto;
    background-color: rgba(250, 0, 0, 0.72);
}

#slide_perfil{
    position: relative;
    margin: 20px 75px;
    border-right: 1px solid rgba(128, 128, 128, 0.2);
    height: 500;
}

#silede_perfil_anuncio{
    position: relative;
    margin: 20px 25px;
    border-right: 1px solid rgba(128, 128, 128, 0.2);
    width: 45%;
    height: 650;
}

#star_perfil{
    margin: 104px auto 0 auto;
    position: relative;
}

#slide{
    margin: 0 100;
}

#slide_anuncio{
    margin: 0 60 20 60;
}

.logo{
    width: 160px;
    height: 63px;
    margin: 3px 0 0 100;
}

.buscar-nav{
    border-radius: 20px;
    width: 400px;
    height: 35px;
    border: 1px solid #00D1FF;
    color: grey;
    font-weight: 600;
    font-style: italic;
    padding: 0 0 0 20;
    margin: 18px 90px 0px 90px;
}

.buscar-nav::-webkit-input-placeholder { 
    color: rgba(128, 128, 128, 0.342);;
    font-weight: 600;
    font-style: italic;
    padding: 10px;
}

.buscar-nav:focus{
    border-radius: 20px;
    color: grey;
    font-weight: 600;
    font-style: italic;
    padding: 0 0 0 20;
    border: 1px solid grey;
    outline: 0;
}

.buscar-nav:active{
    border-radius: 20px;
    color: grey;
    font-weight: 600;
    font-style: italic;
    padding: 0 0 0 20;
    border: 1px solid grey;
}

.buscar-nav:hover{
    border-radius: 20px;
    color: grey;
    font-weight: 600;
    font-style: italic;
    padding: 0 0 0 20;
    border: 1px solid grey;
}

.buscar-nav:visited{
    border-radius: 20px;
    color: grey;
    font-weight: 600;
    font-style: italic;
    padding: 0 0 0 20;
    border: 1px solid grey;
}

.menu{
    float: right;
    margin: 2 30 0 0;
}

.borda-nav{
    border-right: 1px solid rgba(128, 128, 128, 0.2);
    padding: 0px 20px 0px 0px;
}

.link_nav{
    text-decoration: none;
    background-color: #00D1FF;
    border: none;
    font-family: Segoe UI;
    font-weight: 500;
    font-style: italic;
    font-size: 15px;
    color: #fff;
}

.link_nav:focus{
    color: #FF4F5D;
    outline: 0;
}
.link_nav:active{
    color: #FF4F5D;
}
.link_nav:hover{
    color: #FF4F5D;
}

.user{
    margin: 10px;
}

.categoria{
    margin: 0 0 0 10px;
    padding: 0 10px 0 0;
    border-right: 1px solid rgba(128, 128, 128, 0.2);
    display: block;
}

.img_cat{
    width: 30px;
    display: flex;
    justify-content: center;
    margin: 5 auto 0 auto;
}

.link_cat{
    text-decoration: none;
    font-family: Segoe UI;
    font-weight: 500;
    font-style: italic;
    font-size: 15px;
    color: #fff; 
}
/*focus, active,hover*/

.link_cat:focus{
    color: #FF4F5D
}

.link_cat:active{
    color: #FF4F5D
}

.link_cat:hover{
    color: #FF4F5D
}

.banner{
    width: 100%;
    height: 500px;
}

.cards{
    background-color: #fff;
    width: 230px;
    height: 410px;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid rgba(128, 128, 128, 0.2);
    box-shadow: 3px 3px 3px rgba(128, 128, 128, 0.2);
}

.borda_img_card{
    border-bottom: 1px solid rgba(128, 128, 128, 0.404);
}

.img_cards{
    margin: 1px 15px 5px 15px;
    width: 200px;
    height: 200px;
}

.favorito_cards{
    background-color: #fff;
    border: none;
    float: right;
    margin: 5px;
}

.descricao{
    font-family: Segoe UI;
    font-weight: 400;
    font-size: 15px;
    color: rgba(128, 128, 128, 0.68);
    padding: 5px 5px 0px 5px;
}

.valor{
    font-family: Segoe UI;
    font-weight: 600;
    font-size: 25px;
    color: rgba(250, 0, 0, 0.72);
    padding: 10px 5px 15px 5px;
}

.btn_cards{
    width: 100%;
    height: 40px;
    background-color: rgba(250, 0, 0, 0.72);
    border: none;
    font-family: Segoe UI;
    font-weight: 500;
    font-size: 20px;
    color: #fff;
    border-radius: 0 0 10px 10px;
}

.titulo_cat{
    font-family: Segoe UI;
    font-weight: 500;
    font-size: 30px;
    font-style: italic;
    color: rgba(250, 0, 0, 0.72);
}

.borda_titulo_pag{
    border-left: 5px solid rgba(250, 0, 0, 0.45);
    padding: 0px 5px 3px;
    margin: 60px 0 0 0;
}

.cards_group{
    position: relative;
    width: auto;
    margin: 50 100 25 100;
    padding: 0 80px;
}

.footer{
    height: 300px;
    width: 100%;
    background-color: #00D1FF;
    font-family: Segoe UI;
    font-weight: 500;
    font-style: italic;
    color: #fff;
    display: flex;
}

.footer_menu{
    position: relative;
}

.footer_list{
    margin: 20px 60px 0px 60px;
    float: left;
}

.footer_link{
    text-decoration: none;
    font-size: 15px;
    color: red;
}

.footer_link:focus{
    text-decoration: none;
    font-size: 15px;
    color: white;
}
.footer_link:hover{
    text-decoration: none;
    font-size: 15px;
    color: white;
}
.footer_link:active{
    text-decoration: none;
    font-size: 15px;
    color: white;
}

.img_pgto{
    margin: 15 0 0 35;
}

.mercado{
    height: 65px;
    background-color: rgba(250, 0, 0, 0.72);
    font-family: Segoe UI;
    font-weight: 500;
    font-size: 13px;
    font-style: italic;
    color: #ffffff;
}

.texto_mercado{
    padding: 21;
}

.borda_mercado{
    border-right: 1px solid;
}

.login_titulo{
    background-color: rgba(250, 0, 0, 0.72);
    border-bottom: 1px solid rgba(128, 128, 128, 0.2);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    height: 40px;
    text-align: center;
    color: #fff;
}

.login_form{
    display: block;
    margin: 20px 80px;
    font-size: 19px;
}

.format_input{
    display: inline-block;
    border: 1px solid rgba(128, 128, 128, 0.28);
    border-radius: 10px;
    width: 100%;
    height: 35px;
    margin: 0px -10;
    padding: 0 20;
    color: rgb(128, 128, 128);
}

.format_input::-webkit-input-placeholder { 
    color: rgba(128, 128, 128, 0.342);
    font-weight: 600;
    font-style: italic;
}

.format_input:focus{
    border-radius: 10px;
    color: grey;
    font-weight: 600;
    font-style: italic;
    padding: 0 0 0 20;
    border: 1px solid grey;
    outline: 0;
}

.format_input:active{
    border-radius: 10px;
    color: grey;
    font-weight: 600;
    font-style: italic;
    padding: 0 0 0 20;
    border: 1px solid grey;
}

.format_input:hover{
    border-radius: 10px;
    color: grey;
    font-weight: 600;
    font-style: italic;
    padding: 0 0 0 20;
    border: 1px solid grey;
}

.format_btn{
    background-color: rgba(250, 0, 0, 0.72);
    border: 1px solid rgba(128, 128, 128, 0.28);
    border-radius: 10px;
    width: 150px;
    height: 35px;
    margin: 0 43px;
    padding: 0 0 5 0;
    font-family: Segoe UI;
    font-weight: 500;
    font-style: italic;
    font-size: 20px;
    color: #fff;
}

.format_btn:focus{
    background-color: #00D1FF;
    color: #fff;
    outline: 0;
}
.format_btn:active{
    background-color: #00D1FF;
    color: #fff;
}
.format_btn:hover{
    background-color: #00D1FF;
    color: #fff;
}

.login_link{
    font-family: Segoe UI;
    font-weight: 500;
    font-style: normal;
    font-size: 10px;
    color: #FF4F5D;
    text-decoration: none;
}

.login_link:focus{
    color: grey;
}
.login_link:active{
    color: grey;
}
.login_link:hover{
    color: grey;
}

.login_span{
    font-family: Segoe UI;
    font-weight: 500;
    font-style: normal;
    font-size: 10px;
}

.register_banner{
    height: 50px;
    width: 100%;
    background-color: rgba(250, 0, 0, 0.72);
    text-align: center;
    padding: 10px 0 0 0;
    font-family: Segoe UI;
    font-weight: 500;
    font-style: italic;
    font-size: 20px;
    color: #fff;
}

.register_btn_gourp{
    display: block;
    margin: 0 0 0 155px;
}

.resgiter_btn_pf{
    background-color: rgba(250, 0, 0, 0.72);
    border: 1px solid rgba(128, 128, 128, 0.28);
    border-radius: 10px 0px 0px 10px;
    width: 150px;
    height: 35px;
    margin: 35px -4px 20px 0px;
    padding: 0 0 5 0px;
    font-family: Segoe UI;
    font-weight: 500;
    font-style: italic;
    font-size: 20px;
    color: #fff;
}

.resgiter_btn_pf:focus{
    background-color: #00D1FF;
    color: #fff;
    outline: 0;
}
.resgiter_btn_pf:active{
    background-color: #00D1FF;
    color: #fff;
}
.resgiter_btn_pf:hover{
    background-color: #00D1FF;
    color: #fff;
}
.register_btn_inst{
    background-color: rgba(250, 0, 0, 0.72);
    border: 1px solid rgba(128, 128, 128, 0.28);
    border-radius: 0px 10px 10px 0px;
    width: 150px;
    height: 35px;
    margin: 35px -4px 20px 0px;
    padding: 0 0 5 0px;
    font-family: Segoe UI;
    font-weight: 500;
    font-style: italic;
    font-size: 20px;
    color: #fff;
}

.register_btn_inst:focus{
    background-color: #00D1FF;
    color: #fff;
    outline: 0;
}
.register_btn_inst:active{
    background-color: #00D1FF;
    color: #fff;
}
.register_btn_inst:hover{
    background-color: #00D1FF;
    color: #fff;
}

.register_titulo{
    font-family: Segoe UI;
    font-weight: 500;
    font-style: italic;
    font-size: 20px;
    color: grey;
    border-bottom: 1px solid rgba(128, 128, 128, 0.28);
    width: auto;
    margin: 15px 0 15 0;
}

.formart_input_group{
    margin: 0 0 0 15;
    width: 46%;
}

.format_textearea{
    display: inline-block;
    border: 1px solid rgba(128, 128, 128, 0.28);
    border-radius: 10px;
    width: 94%;
    height: 130px;
    margin: 0px -10;
    padding: 0 20;
    color: rgb(128, 128, 128);
    font-weight: 600;
    font-style: italic;
}

.format_textearea:focus{
    border-radius: 10px;
    color: grey;
    font-weight: 600;
    font-style: italic;
    padding: 0 0 0 20;
    border: 1px solid grey;
    outline: 0;
}
.format_textearea:active{
    border-radius: 10px;
    color: grey;
    font-weight: 600;
    font-style: italic;
    padding: 0 0 0 20;
    border: 1px solid grey;
}
.format_textearea:hover{
    border-radius: 10px;
    color: grey;
    font-weight: 600;
    font-style: italic;
    padding: 0 0 0 20;
    border: 1px solid grey;
}
.format_select{
    display: relative;
    border: 1px solid rgba(128, 128, 128, 0.28);
    border-radius: 10px;
    width: 100%;
    height: 35px;
    margin: 0px -10;
    padding: 0 20;
    color: rgb(128, 128, 128);
}

.btn_cad{
    margin: 25px 135px;
}

.sidebar_item_group{
    padding: 5px 0px 0px 30px;
    border-top: 1px solid rgba(128, 128, 128, 0.42);
}

.sidebar_titulo{
    margin: 8px 0px 10px 10px;
    display: flex;
}

.sidebar_perfil{
    font-family: Segoe UI;
    font-weight: 500;
    font-style: italic;
    font-size: 24px;
    color: white;
    padding: 4px 0 0px 16px;
}

.sidebar_img{
    width: 35px;
    height: 35px;
}

.sidebar_menu{
    display: flex;
    margin-bottom: 10px;
}

.btn_sidebar{
    display: flex;
    border: none;
    background-color: transparent;
    font-family: Segoe UI;
    font-weight: 500;
    font-style: italic;
    font-size: 16px;
    color: white;
    padding: 0 12px;

}

.btn_sidebar:focus{
    color: grey;
    outline: 0;
}

.btn_sidebar:hover{
    color: grey;
}
.btn_sidebar:active{
    color: grey;
}

.titulo_slide{
    margin: 15px 0px 45px 60px;;
}

.slide_group{
    margin-bottom: 30px;
}

.img_slide{
    width: 35px;
}

.subtitulo_slide{
    position: absolute;
    margin: 7px 0px 0px 14px;
    font-size: 18px;
}

.text_slide{
    color: #999696;
    margin: 0px 0px 0 20px;
    font-size: 12px;
    font-style: normal;
}

.borda_slide{
    border-bottom: 1px solid rgba(128, 128, 128, 0.48);
}

.score_perfil{
    margin-top: 10px;
    display: flex;
}

.text_score{
    position: relative;
    margin: 15px 0 0 20px;
}

.score{
    position: relative;
}

.score_title{
    margin: 7px 0px 0px 14px;
    font-size: 20px;
}

.lvl_score{
    display: inline-block;
    font-size: 19px;
    font-weight: 500;
    font-style: normal;
    color: rgba(250, 0, 0, 0.72);
}

.lvl_title{
    display: inline-block;
    font-family: Segoe UI;
    font-size: 28px;
    font-style: italic;
    font-weight: 700;
    color: #00D1FF;
    margin-bottom: 5px;
}

.lvl_point{
    display: inline-block;
    font-size: 13px;
    font-style: normal;
    font-weight: 300;
    color: #a7a7a7;
    margin-bottom: 5px;
}

.anuncios{
    display: flex;
    border: 1px solid rgba(128, 128, 128, 0.2);
    border-radius: 10px;
    width: 450;
    margin: 0 0 10px 0;
}

.img_prod{
    width: 145px;
    height: 145px;
}

.borda_img{
    border-right: 1px solid rgba(128, 128, 128, 0.2);
    padding: 5px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #fff;
}

.desc_anuncio{
    background-color: #fff;
    width: 100%;
}

.subtitulo_prod{
    font-size: 20px;
    padding: 5 5 5 20px;
}

.borda_subtitulo{
    border-bottom: 1px solid rgba(128, 128, 128, 0.2);
    width: 215px;
}

.descricao_anun{
    padding: 12px 35px;
    font-size: 14px;
    font-weight: 400;
    color: grey;
}

.descricao_anun_valor{
    color: rgba(250, 0, 0, 0.72);
}

.validacao{
    background-color: #fff;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.img_validacao{
    width: 30px;
    height: auto;
    padding: 5px;
}




















.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
.col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
.col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
.col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
.col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
.col-xl-auto {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}

.col-auto {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  max-width: none;
}

.col-1 {
  -ms-flex: 0 0 8.333333%;
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
}

.col-dif {
  -ms-flex: 0 0 6%;
  flex: 0 0 6%;
  max-width: 6%;
}

.col-2 {
  -ms-flex: 0 0 16.666667%;
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}

.col-3 {
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}

.col-4 {
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.col-5 {
  -ms-flex: 0 0 41.666667%;
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}

.col-6 {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.col-7 {
  -ms-flex: 0 0 58.333333%;
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
}

.col-8 {
  -ms-flex: 0 0 66.666667%;
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

.col-9 {
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%;
}

.col-10 {
  -ms-flex: 0 0 83.333333%;
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
}

.col-11 {
  -ms-flex: 0 0 91.666667%;
  flex: 0 0 91.666667%;
  max-width: 91.666667%;
}

.col-12 {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.w-100{
    width: 100%;    
}

.w-75{
    width: 75%;
}

.w-35{
    width: 35%;
}